@auth_bp.route("/register", methods=["GET", "POST"])
def register():
    if request.method == "POST":
        handle = request.form.get("handle")
        email = request.form.get("email")
        pwd = request.form.get("password")
        if not handle or not email or not pwd:
            flash("Điền đầy đủ thông tin.")
            return render_template("auth_register.html")
        if User.query.filter((User.handle==handle)|(User.email==email)).first():
            flash("Handle hoặc email đã tồn tại.")
            return render_template("auth_register.html")
        user = User(handle=handle, email=email)
        user.set_password(pwd)
        db.session.add(user)
        db.session.commit()
        login_user(user)
        return redirect(url_for("problems.list_problems"))
    return render_template("auth_register.html")
