{% extends "base.html" %}
{% block content %}
<h2>🔑 Đăng nhập</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash">
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="post" class="form">
  <label>Handle hoặc Email
    <input name="handle" placeholder="vd: vanhdev hoặc vanh@example.com" required>
  </label>
  <label>Mật khẩu
    <input type="password" name="password" required>
  </label>
  <button class="btn primary" type="submit">Đăng nhập</button>
</form>

<p>Chưa có tài khoản? <a href="{{ url_for('auth.register') }}">Đăng ký ngay</a></p>
{% endblock %}
